<section class="account-page-area section-gap-equal">
  <div class="container position-relative">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6">
        <div class="login-form-box shadow-sm rounded">
          <h3 class="title">Resend confirmation email</h3>
          
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-group">
              <%= f.label :email do %> Email <span class="text-danger">*</span><% end %>
              <%= f.email_field :email, autofocus: true, placeholder: "Input your email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              <span class="text-danger"><%= resource.errors[:email].first %></span>
            </div>
            <div class="form-group">
              <%= button_tag class:"edu-btn btn-medium" do %>
                Resend confirmation <i class="icon-4"></i>
              <% end %>
            </div>
          <% end %>
          <div class="form-group chekbox-area">
            <%= link_to "Forgot your password?", new_user_password_path, class: "password-reset" %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>