<div class="edu-breadcrumb-area breadcrumb-style-3 pt-4">
  <div class="container">
      <div class="breadcrumb-inner">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-white"><%= link_to "Hara Academy", root_path %></li>
            <li class="breadcrumb-item text-white"><%= link_to "Course", courses_path %></li>
            <li class="breadcrumb-item text-white active" aria-current="page"><%= @course.title %></li>
          </ol>
        </nav>
        <div class="page-title">
            <h1 class="title"><%= @course.title%></h1>
        </div>
        <ul class="course-meta">
            <li class="text-white">Speaker : <%= @course.speaker.full_name %></li>
            <li class="text-white">Category : <%= @course.category.name.titleize %></li>
            <li class="text-white">Last updated : <%= @course.updated_at %></li>
        </ul>
      </div>
  </div>
</div>

<section class="mt-5 mb-5 course-details-area">
  <div class="container">
    <div class="row row--30">
      <div class="col-lg-8">
        <div class="course-details-content">
          <div class="course-overview">
            <h3 class="heading-title">About This Course</h3>
            <p><%= @course.body %></p>
          </div>
          <div class="embed-responsive embed-responsive-16by9 mb-5 ">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/XeI8E20ZUE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>