<div class="edu-breadcrumb-area breadcrumb-style-3 pt-4">
  <div class="container">
      <div class="breadcrumb-inner">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-white"><%= link_to "Hara Academy", root_path %></li>
            <li class="breadcrumb-item text-white"><%= link_to "Course", courses_path %></li>
            <li class="breadcrumb-item text-white active" aria-current="page"><%= @course.title %></li>
          </ol>
        </nav>
        <div class="page-title">
            <h1 class="title"><%= @course.title%></h1>
        </div>
        <ul class="course-meta">
            <li class="text-white">Speaker : <%= @course.speaker.full_name %></li>
            <li class="text-white">Category : <%= @course.category.name.titleize %></li>
            <li class="text-white">Last updated : <%= @course.updated_at %></li>
        </ul>
      </div>
  </div>
</div>

<section class="mt-5 mb-5 course-details-area">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col-offset-2 col-md-8">
            <div class="edu-course course-style-4 course-style-8 shadow-sm">
              <div class="inner">
                <div class="thumbnail">
                  <%= image_tag @course.image, alt: @course.title%>
                </div>
              </div>
            </div>
            <% if @course.url_video == '' || @course.url_video.nil? %>
              <a href="#" class="edu-btn btn-secondary btn-large col-md-12">Link akan tersedia sehari sebelum live story.</a>
            <% else %>
              <a href="<%= @course.url_video %>" class="edu-btn btn-secondary btn-large col-md-12">Zoom link</a>
            <% end %>
          </div>
          
          <!--<div class="embed-responsive embed-responsive-16by9 mb-5 ">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/XeI8E20ZUE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>-->
        
    </div>
  </div>
</section>