<header class="edu-header header-style-1 header-fullwidth">
	<div class="header-top-bar">
			<div class="container-fluid">
					<div class="header-top">
							<div class="header-top-left">
									<ul class="header-info">
											<li><a href="tel:+011235641231"><i class="icon-phone"></i>Call: 123 4561 5523</a></li>
											<li><a href="mailto:info@edublink.com"><i class="icon-envelope"></i>Email: info@edublink.com</a></li>
											<li><a href="#"><i class="icon-instagram"></i>Haraacademy</a></li>
									</ul>
							</div>
							<div class="header-top-right">
									<ul class="header-info">
										<% if user_signed_in? %>
											<li>Account setting</li>
											<li class="header-btn"><%= button_to destroy_user_session_path, class: "edu-btn btn-secondary btn-medium", method: :delete do %>Log out <i class="icon-4"></i><% end %></li>
										<% else %>
											<li><%= link_to "Registration", new_user_registration_path %></li>
											<li class="header-btn"><%= link_to new_user_session_path, class: "edu-btn btn-secondary btn-medium" do %> Log in <i class="icon-4"></i><% end %></li>
										<% end %>
									</ul>
							</div>
					</div>
			</div>
	</div>
	<div class="header-mainmenu">
			<div class="container-fluid">
					<div class="header-navbar">
							<div class="header-brand">
									<div class="logo">
											<a href="/">
													<%= image_tag ("logo/logo-white.png"), alt: "Hara Academy", class: "logo-light" %>
											</a>
									</div>
									<div class="header-category">
											<nav class="mainmenu-nav">
													<ul class="mainmenu">
															<li class="has-droupdown">
																	<a href="#"><i class="icon-1"></i>Category</a>
																	<ul class="submenu">
																			<% Category.order(name: :asc).pluck(:name).each do |category_name| %>
																				<li><a href="#"><%= category_name %></a></li>
																			<% end %>
																	</ul>
															</li>
													</ul>
											</nav>
									</div>
							</div>
							<div class="header-mainnav">
									<nav class="mainmenu-nav">
											<ul class="mainmenu">
													<li><a href="/">Home</a>
													</li>

													<li><a href="#">Courses</a>
													</li>

													<li><a href="#">About us</a>
													</li>

													<li><a href="#">Contact</a>
													</li>
											</ul>
									</nav>
							</div>
							<div class="header-right">
									<ul class="header-action">
											<li class="search-bar d-block d-xl">
													<div class="input-group">
															<input type="text" class="form-control" placeholder="Search">
															<button class="search-btn" type="button"><i class="icon-2"></i></button>
													</div>
											</li>
											<li class="mobile-menu-bar d-block d-xl-none">
													<button class="hamberger-button">
															<i class="icon-54"></i>
													</button>
											</li>
									</ul>
							</div>
					</div>
			</div>
	</div>
	<div class="popup-mobile-menu">
			<div class="inner">
					<div class="header-top">
							<div class="logo">
									<a href="index.html">
											<%= image_tag ("logo/logo-white.png"), alt: "Hara Academy", class: "logo-light" %>
									</a>
							</div>
							<div class="close-menu">
									<button class="close-button">
											<i class="icon-73"></i>
									</button>
							</div>
					</div>
					<ul class="mainmenu">
							<li class="has-droupdown"><a href="#">Home</a>
									<ul class="submenu">
											<li><a href="index.html">EduBlink Education</a></li>
											<li><a href="index-distant-learning.html">Distant Learning</a></li>
											<li><a href="index-university.html">University</a></li>
											<li><a href="index-online-academy.html">Online Academy</a></li>
											<li><a href="index-kitchen.html">Kitchen Coach</a></li>
											<li><a href="index-yoga.html">Yoga Instructor</a></li>
											<li><a href="index-kindergarten.html">Kindergarten</a></li>
											<li><a href="index-landing.html">Landing Demo</a></li>
									</ul>
							</li>
							<li class="has-droupdown"><a href="#">Pages</a>
									<ul class="mega-menu">
											<li>
													<h6 class="menu-title">Inner Pages</h6>
													<ul class="submenu">
															<li><a href="about-one.html">About Us 1</a></li>
															<li><a href="about-two.html">About Us 2</a></li>
															<li><a href="about-three.html">About Us 3</a></li>
															<li><a href="team-one.html">Instructor 1</a></li>
															<li><a href="team-two.html">Instructor 2</a></li>
															<li><a href="team-three.html">Instructor 3</a></li>
															<li><a href="team-details.html">Instructor Profile</a></li>
															<li><a href="faq.html">Faq's</a></li>
															<li><a href="404.html">404 Error</a></li>
															<li><a href="coming-soon.html">Coming Soon</a></li>
													</ul>
											</li>
											<li>
													<h6 class="menu-title">Inner Pages</h6>
													<ul class="submenu">
															<li><a href="gallery-grid.html">Gallery Grid</a></li>
															<li><a href="gallery-masonry.html">Gallery Masonry</a></li>
															<li><a href="event-grid.html">Event Grid</a></li>
															<li><a href="event-list.html">Event List</a></li>
															<li><a href="event-details.html">Event Details</a></li>
															<li><a href="pricing-table.html">Pricing Table</a></li>
															<li><a href="purchase-guide.html">Purchase Guide</a></li>
															<li><a href="privacy-policy.html">Privacy Policy</a></li>
															<li><a href="terms-condition.html">Terms & Condition</a></li>
															<li><a href="my-account.html">Sign In</a></li>
													</ul>
											</li>
											<li>
													<h6 class="menu-title">Shop Pages</h6>
													<ul class="submenu">
															<li><a href="shop.html">Shop</a></li>
															<li><a href="product-details.html">Product Details</a></li>
															<li><a href="cart.html">Cart</a></li>
															<li><a href="wishlist.html">Wishlist</a></li>
															<li><a href="checkout.html">Checkout</a></li>
													</ul>
											</li>
									</ul>
							</li>

							<li class="has-droupdown"><a href="#">Courses</a>
									<ul class="submenu">
											<li><a href="course-one.html">Course Style 1</a></li>
											<li><a href="course-two.html">Course Style 2</a></li>
											<li><a href="course-three.html">Course Style 3</a></li>
											<li><a href="course-four.html">Course Style 4</a></li>
											<li><a href="course-five.html">Course Style 5</a></li>
											<li><a href="course-details.html">Course Details 1</a></li>
											<li><a href="course-details-2.html">Course Details 2</a></li>
											<li><a href="course-details-3.html">Course Details 3</a></li>
									</ul>
							</li>

							<li class="has-droupdown"><a href="#">Blog</a>
									<ul class="submenu">
											<li><a href="blog-standard.html">Blog Standard</a></li>
											<li><a href="blog-masonry.html">Blog Masonry</a></li>
											<li><a href="blog-list.html">Blog List</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
							</li>
							<li class="has-droupdown"><a href="#">Contact</a>
									<ul class="submenu">
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="contact-me.html">Contact Me</a></li>
									</ul>
							</li>
					</ul>
			</div>
	</div>
	
</header>