<header class="edu-header header-style-1 header-fullwidth">
	<div class="header-top-bar">
			<div class="container-fluid">
					<div class="header-top">
							<div class="header-top-left">
									<ul class="header-info">
											<li><a href="tel:+011235641231"><i class="icon-phone"></i>Call: 123 4561 5523</a></li>
											<li><a href="mailto:info@edublink.com"><i class="icon-envelope"></i>Email: info@edublink.com</a></li>
											<li><a href="#"><i class="icon-instagram"></i>Haraacademy</a></li>
									</ul>
							</div>
							<div class="header-top-right">
									<ul class="header-info">
										<% if user_signed_in? %>
											<li>Account setting</li>
											<li class="header-btn"><%= button_to destroy_user_session_path, class: "edu-btn btn-secondary btn-medium", method: :delete do %>Log out <i class="icon-4"></i><% end %></li>
										<% else %>
											<li><%= link_to "Registration", new_user_registration_path %></li>
											<li class="header-btn"><%= link_to new_user_session_path, class: "edu-btn btn-secondary btn-medium" do %> Log in <i class="icon-4"></i><% end %></li>
										<% end %>
									</ul>
							</div>
					</div>
			</div>
	</div>
	<div class="header-mainmenu">
			<div class="container-fluid">
					<div class="header-navbar">
							<div class="header-brand">
									<div class="logo">
											<a href="/">
													<%= image_tag ("logo/haraacademy_white.png"), alt: "Hara Academy", class: "logo-light" %>
											</a>
									</div>
									<div class="header-category">
											<nav class="mainmenu-nav">
													<ul class="mainmenu">
															<li class="has-droupdown">
																	<a href="#"><i class="icon-1"></i>Category</a>
																	<ul class="submenu">
																			<% Category.order(name: :asc).pluck(:name).each do |category_name| %>
																				<li><a href="#"><%= category_name %></a></li>
																			<% end %>
																	</ul>
															</li>
													</ul>
											</nav>
									</div>
							</div>
							<div class="header-mainnav">
									<nav class="mainmenu-nav">
											<ul class="mainmenu">
													<li><%= link_to "Home", home_path %></a></li>
													<li><%= link_to "Courses", courses_path %></a></li>
													<li><%= link_to "About us", about_path %></a></li>
													<li><%= link_to "Contact us", contact_path %></a></li>
											</ul>
									</nav>
							</div>
							<div class="header-right">
									<ul class="header-action">
											<li class="search-bar d-block d-xl">
													<div class="input-group">
															<input type="text" class="form-control" placeholder="Search">
															<button class="search-btn" type="button"><i class="icon-2"></i></button>
													</div>
											</li>
											<li class="mobile-menu-bar d-block d-xl-none">
													<button class="hamberger-button">
															<i class="icon-54"></i>
													</button>
											</li>
									</ul>
							</div>
					</div>
			</div>
	</div>
	<div class="popup-mobile-menu">
			<div class="inner">
					<div class="header-top">
							<div class="logo">
									<a href="index.html">
											<%= image_tag ("logo/logo-white.png"), alt: "Hara Academy", class: "logo-light" %>
									</a>
							</div>
							<div class="close-menu">
									<button class="close-button">
											<i class="icon-73"></i>
									</button>
							</div>
					</div>
					<ul class="mainmenu">
							<li><a href="/">Home</a></li>
							<li class="has-droupdown">
									<a href="#">Category</a>
									<ul class="submenu">
											<% Category.order(name: :asc).pluck(:name).each do |category_name| %>
												<li><a href="#"><%= category_name %></a></li>
											<% end %>
									</ul>
							</li>
							<li><a href="#">Courses</a></li>
							<li><%= link_to "About us", about_path %></a></li>
							<li><%= link_to "Contact us", contact_path %></a></li>
							<% if user_signed_in? %>
								<li><a href="#">Account setting</a></li>
								<li class="header-btn"><%= button_to destroy_user_session_path, class: "mt-2 edu-btn btn-secondary btn-medium", method: :delete do %>Log out <i class="icon-4"></i><% end %></li>
							<% else %>
								<li><%= link_to "Register", new_user_registration_path %></li>
								<li><%= link_to "Login", new_user_session_path %></li>
							<% end %>
							
					</ul>
			</div>
	</div>
	
</header>