<div id="main-wrapper" class="main-wrapper">
	<!--=       Hero Banner Area Start      =-->
	<div class="hero-banner hero-style-4 bg-image bg-image--18">
			<div class="container">
					<div class="row justify-content-center">
							<div class="col-lg-8">
									<div class="banner-content">
											<h1 class="title">The Best Program to Enroll for Exchange</h1>
											<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit.</p>
											<div class="banner-btn">
													<a href="#" class="edu-btn">Find courses <i class="icon-4"></i></a>
											</div>
									</div>
							</div>
					</div>
			</div>
			<div class="banner-gallery">
					<div class="online-support">
							<div class="inner">
									<div class="icon">
											<i class="icon-29"></i>
									</div>
									<div class="content">
											<span class="subtitle">Online Support </span>
											<h4 class="title"><a href="tel:+0123456789">+012 (345) 6789</a></h4>
									</div>
							</div>
					</div>
			</div>
			<div class="scroll-down-btn">
					<a class="scroll-btn" href="#categories"><i class="icon-41"></i></a>
			</div>
			<ul class="shape-group">
					<li class="shape-1 scene">
							<img data-depth="2" src="assets/images/others/shape-17.png" alt="Shape">
					</li>
					<li class="shape-2 scene">
							<img data-depth="-2" src="assets/images/banner/shape-03.png" alt="Shape">
					</li>
					<li class="shape-3 scene">
							<img data-depth="2" src="assets/images/faq/shape-09.png" alt="Shape">
					</li>
					<li class="shape-4 scene">
							<img data-depth="-2" src="assets/images/others/shape-15.png" alt="Shape">
					</li>
					<li class="shape-5 scene">
							<img data-depth="-2" src="assets/images/others/shape-16.png" alt="Shape">
					</li>
					<li class="shape-6 scene">
							<img data-depth="2" src="assets/images/faq/shape-12.png" alt="Shape">
					</li>
					<li class="shape-7 scene">
							<img data-depth="-2" src="assets/images/others/shape-17.png" alt="Shape">
					</li>
					<li class="shape-8 scene" >
							<span></span>
					</li>
			</ul>
	</div>
	<!--=       Hero Banner Area End      =-->

	<!-- Start Categories Area  -->
	<div class="edu-categorie-area categorie-area-2 edu-section-gap" id="categories">
			<div class="container">
					<div class="section-title section-center" >
							<h2 class="title">Top Categories</h2>
							<span class="shape-line"><i class="icon-19"></i></span>
							<p>Consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore</p>
					</div>

					<div class="row g-5">
							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-primary-style edublink-svg-animate">
											<div class="icon">
													<i class="icon-9"></i>
											</div>
											<div class="content">
													<h5 class="title">Business Management</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-secondary-style">
											<div class="icon">
													<i class="icon-10 art-design"></i>
											</div>
											<div class="content">
													<h5 class="title">Arts & Design</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6" >
									<div class="categorie-grid categorie-style-2 color-extra01-style">
											<div class="icon">
													<i class="icon-11 personal-development"></i>
											</div>
											<div class="content">
													<h5 class="title">Personal Development</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-tertiary-style">
											<div class="icon">
													<i class="icon-12 health-fitness"></i>
											</div>
											<div class="content">
													<h5 class="title">Health & Fitness</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-extra02-style">
											<div class="icon">
													<i class="icon-13 data-science"></i>
											</div>
											<div class="content">
													<h5 class="title">Data Science</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-extra03-style">
											<div class="icon">
													<i class="icon-14"></i>
											</div>
											<div class="content">
													<h5 class="title">Marketing</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-extra04-style">
											<div class="icon">
													<i class="icon-15"></i>
											</div>
											<div class="content">
													<h5 class="title">Business & Finance</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6">
									<div class="categorie-grid categorie-style-2 color-extra05-style">
											<div class="icon">
													<i class="icon-16 computer-science"></i>
											</div>
											<div class="content">
													<h5 class="title">Computer Science</h5>
											</div>
									</div>
							</div>

							<div class="col-lg-4 col-md-6" >
									<div class="categorie-grid categorie-style-2 color-extra06-style">
											<div class="icon">
													<i class="icon-17 video-photography"></i>
											</div>
											<div class="content">
													<h5 class="title">Video & Photography</h5>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
	<!-- End Categories Area  -->

	<!-- Start Course Area  -->
	<div class="edu-course-area course-area-1 edu-section-gap bg-lighten01">
			<div class="container">
					<div class="section-title section-center">
							<span class="pre-title">Popular Courses</span>
							<h2 class="title">Pick A Course To Get Started</h2>
							<span class="shape-line"><i class="icon-19"></i></span>
					</div>
					<div class="row g-5">
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>4 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="#">Starting SEO as your Home Based Business</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.9 /8 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>13 Lessons</li>
																	<li><i class="icon-25"></i>28 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="course-details.html">Starting SEO as your Home Based Business</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.9 /8 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>13 Lessons</li>
																	<li><i class="icon-25"></i>28 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-04.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>3 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Beginner</span>
															<h6 class="title">
																	<a href="#">Java Programming Masterclass for Software Developers</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(5.0 /7 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>8 Lessons</li>
																	<li><i class="icon-25"></i>20 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Beginner</span>
															<h6 class="title">
																	<a href="course-details.html">Java Programming Masterclass for Software Developers</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(5.0 /7 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>8 Lessons</li>
																	<li><i class="icon-25"></i>20 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>8 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="#">Building A Better World One Student At A Time</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.8 /9 Rating)</span>
															</div>
															<div class="course-price">$35.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>32 Lessons</li>
																	<li><i class="icon-25"></i>18 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="course-details.html">Building A Better World One Student At A Time</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.8 /9 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>35 Lessons</li>
																	<li><i class="icon-25"></i>18 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>6 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Intermediate</span>
															<h6 class="title">
																	<a href="#">Master Your Personal Brand Like a Marketing Pro</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.7 /5 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>15 Lessons</li>
																	<li><i class="icon-25"></i>12 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Intermediate</span>
															<h6 class="title">
																	<a href="course-details.html">Master Your Personal Brand Like a Marketing Pro</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.7 /5 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>15 Lessons</li>
																	<li><i class="icon-25"></i>12 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
					</div>
					<div class="course-view-all">
							<a href="course-one.html" class="edu-btn">Browse more courses <i class="icon-4"></i></a>
					</div>
			</div>
	</div>
	<!-- End Course Area -->

	<!-- Start Course Area  -->
	<div class="edu-course-area course-area-1 edu-section-gap bg-lighten01">
			<div class="container">
					<div class="section-title section-center">
							<span class="pre-title">Popular Courses</span>
							<h2 class="title">Pick A Course To Get Started</h2>
							<span class="shape-line"><i class="icon-19"></i></span>
					</div>
					<div class="row g-5">
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>4 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="#">Starting SEO as your Home Based Business</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.9 /8 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>13 Lessons</li>
																	<li><i class="icon-25"></i>28 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="course-details.html">Starting SEO as your Home Based Business</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.9 /8 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>13 Lessons</li>
																	<li><i class="icon-25"></i>28 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-04.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>3 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Beginner</span>
															<h6 class="title">
																	<a href="#">Java Programming Masterclass for Software Developers</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(5.0 /7 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>8 Lessons</li>
																	<li><i class="icon-25"></i>20 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Beginner</span>
															<h6 class="title">
																	<a href="course-details.html">Java Programming Masterclass for Software Developers</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(5.0 /7 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>8 Lessons</li>
																	<li><i class="icon-25"></i>20 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>8 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="#">Building A Better World One Student At A Time</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.8 /9 Rating)</span>
															</div>
															<div class="course-price">$35.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>32 Lessons</li>
																	<li><i class="icon-25"></i>18 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Advanced</span>
															<h6 class="title">
																	<a href="course-details.html">Building A Better World One Student At A Time</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.8 /9 Rating)</span>
															</div>
															<div class="course-price">$29.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>35 Lessons</li>
																	<li><i class="icon-25"></i>18 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
							<!-- Start Single Course  -->
							<div class="col-md-6 col-xl-3">
									<div class="edu-course course-style-1 hover-button-bg-white">
											<div class="inner">
													<div class="thumbnail">
															<a href="course-details.html">
																	<%= image_tag ("course/course-07.jpg"), alt: "Hara Academy" %>
															</a>
															<div class="time-top">
																	<span class="duration"><i class="icon-61"></i>6 Weeks</span>
															</div>
													</div>
													<div class="content">
															<span class="course-level">Intermediate</span>
															<h6 class="title">
																	<a href="#">Master Your Personal Brand Like a Marketing Pro</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.7 /5 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>15 Lessons</li>
																	<li><i class="icon-25"></i>12 Students</li>
															</ul>
													</div>
											</div>
											<div class="course-hover-content-wrapper">
													<button class="wishlist-btn"><i class="icon-22"></i></button>
											</div>
											<div class="course-hover-content">
													<div class="content">
															<button class="wishlist-btn"><i class="icon-22"></i></button>
															<span class="course-level">Intermediate</span>
															<h6 class="title">
																	<a href="course-details.html">Master Your Personal Brand Like a Marketing Pro</a>
															</h6>
															<div class="course-rating">
																	<div class="rating">
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																			<i class="icon-23"></i>
																	</div>
																	<span class="rating-count">(4.7 /5 Rating)</span>
															</div>
															<div class="course-price">$49.00</div>
															<p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor.</p>
															<ul class="course-meta">
																	<li><i class="icon-24"></i>15 Lessons</li>
																	<li><i class="icon-25"></i>12 Students</li>
															</ul>
															<a href="course-details.html" class="edu-btn btn-secondary btn-small">Enrolled <i class="icon-4"></i></a>
													</div>
											</div>
									</div>
							</div>
							<!-- End Single Course  -->
					</div>
					<div class="course-view-all">
							<a href="course-one.html" class="edu-btn">Browse more courses <i class="icon-4"></i></a>
					</div>
			</div>
	</div>
	<!-- End Course Area -->

</div>
