<div id="main-wrapper" class="main-wrapper">
	
	<!--Hero Banner Area Start-->
	<div class="hero-banner hero-style-4 bg-color-dark">
		<div class="container">
			<% if alert %>
				<div class="alert alert-danger" role="alert">
					<%= alert %>
				</div>
			<% end %>
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="banner-content">
						<h2 class="text-white">A platform for learning how to be an entrepreneur through unique stories</h2>
						<div class="banner-btn">
							<%= link_to courses_path, class: "edu-btn btn-secondary" do %>Find Courses <i class="icon-4"></i><% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="banner-gallery">
			<div class="online-support">
				<div class="inner">
					<div class="icon">
						<i class="icon-29"></i>
					</div>
					<div class="content">
						<span class="subtitle">Whatsapp Support </span>
						<h4 class="title"><a href="tel:+0123456789">+012 (345) 6789</a></h4>
					</div>
				</div>
			</div>
		</div>-->
	</div>

	<!-- Start Course Area  -->
	<div class="edu-course-area course-area-1 edu-section-gap bg-color-dark">
			<div class="container">
					<div class="section-title section-center">
							<h2 class="title">Newest Story (Live!)</h2>
							<span class="shape-line"><i class="icon-19"></i></span>
					</div>
					<div class="row g-5 justify-content-md-center">
							<div class="col-offset-2 col-md-6">
									<div class="edu-course course-style-1">
										<% unless @course.nil? %>
											<div class="inner">
													<div class="thumbnail">
															<%= link_to checkout_path(@course.id) do %>
																<%= image_tag (@course.image), alt: "Hara Academy" %>
															<% end %>
													</div>
													<div class="content">
														<h2 class="title">
															<%= link_to @course.title, checkout_path(@course.id) %>
														</h2>
														<%
															num_groups = @course.price.to_s.chars.to_a.reverse.each_slice(3)
															price = num_groups.map(&:join).join(',').reverse
														%>
														<%= link_to checkout_path(@course.id), class: "edu-btn btn-secondary btn-small" do %>Rp <%= price %><% end %>
													</div>
											</div>
										<% end %>
									</div>
							</div>
					</div>
					<!-- <div class="course-view-all">
							<%= link_to courses_path(type: 'playback'), class: "edu-btn btn-secondary" do %>Browse more courses <i class="icon-4"></i><% end %>
					</div> -->
			</div>
	</div>

</div>
