<div class="edu-breadcrumb-area pt-4">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-white"><%= link_to "Hara Academy", root_path %></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Checkout</li>
        <li class="breadcrumb-item text-white active" aria-current="page"><%= @course.title %></li>
      </ol>
    </nav>
  </div>
</div>

<section class="checkout-page-area mt-5 mb-5">
  <div class="container">
      <div class="row row--25">
        <div class="col-lg-6">
          <div class="edu-course course-style-4 course-style-8 shadow-sm">
            <div class="inner">
              <div class="thumbnail">
                <%= image_tag @course.image, alt: @course.title%>
              </div>
            </div>
          </div>
        </div>
        <%
          def convert_number(price)
            num_groups = price.to_s.chars.to_a.reverse.each_slice(3)
            price = num_groups.map(&:join).join(',').reverse
          end
        %>
        <div class="col-lg-6">
          <div class="order-summery checkout-summery shadow-sm">
              <div class="summery-table-wrap">
                  <h4 class="title">Your Order</h4>
                  <table class="table summery-table">
                      <tbody>
                          <tr>
                            <td><%= @course.title %></td>
                            <td>Rp <%= convert_number(@course.price) %></td>
                          </tr>
                          <% if @course.discount != 0 %>
                          <tr>
                            <td>Dicsount</td>
                            <td>
                              <%= 'Rp ' + convert_number(@course.discount) %>
                            </td>
                          </tr>
                          <% end %>
                          <tr class="order-total">
                            <td>Total</td>
                            <td>
                              Rp <%= convert_number(@course.price.to_i - @course.discount.to_i) %>
                            </td>
                          </tr>
                      </tbody>
                  </table> 
                  <%= form_with url: order_path(@course.id), method: :post, local: true, data: {turbo: false}, class: "mt-5" do |f| %>
                    <div class="mb-3 form-group">
                      <%= button_tag :submit, class: "edu-btn btn-secondary btn-medium"%>
                    </div>
                <% end %>
                  
              </div>
          </div>
        </div>
      </div>
  </div>
</section>