<header class="edu-header header-style-1 header-fullwidth">
	<div class="header-mainmenu">
			<div class="container-fluid">
					<div class="header-navbar">
							<div class="header-brand">
									<div class="logo">
											<%= link_to admins_dashboard_index_path do %>
													<%= image_tag ("logo/haraacademy_white.png"), alt: "Hara Academy", class: "logo-light" %>
											<% end %>
									</div>
							</div>
							<div class="header-mainnav">
									<nav class="mainmenu-nav">
											<ul class="mainmenu">
													<li><%= link_to "Dashboard", admins_dashboard_index_path %></li>
													<li><%= link_to "Categories", admins_categories_path %></li>
													<li><%= link_to "Speakers", admins_speakers_path %></li>
													<li><%= link_to "Courses", admins_courses_path %></li>
													<li><%= link_to "Videos", admins_videos_path %></li>
													<li><%= link_to "Course of member", admins_courses_path %></li>
													<li><%= link_to "Orders", admins_courses_path %></li>
											</ul>
									</nav>
							</div>
							<div class="header-right">
									<ul class="header-action">
											<li class="mobile-menu-bar d-block d-xl-none">
													<button class="hamberger-button" data-controller="menu" data-action="click->menu#hamburger">
															<i class="icon-54"></i>
													</button>
											</li>
									</ul>
							</div>
					</div>
			</div>
	</div>
	<div class="popup-mobile-menu" id="popUpMobile">
			<div class="inner">
					<div class="header-top">
							<div class="logo">
									<%= link_to admins_dashboard_index_path do %>
											<%= image_tag ("logo/haraacademy_white.png"), alt: "Hara Academy", class: "logo-light" %>
									<% end %>
							</div>
							<div class="close-menu" data-controller="menu" data-action="click->menu#close">
									<button class="close-button">
											<i class="icon-73"></i>
									</button>
							</div>
					</div>
					<ul class="mainmenu">
						<li><%= link_to "Dashboard", admins_dashboard_index_path %></li>
						<li><%= link_to "Categories", admins_categories_path %></li>
						<li><%= link_to "Speakers", admins_speakers_path %></li>
						<li><%= link_to "Courses", admins_courses_path %></li>
						<li><%= link_to "Videos", admins_videos_path %></li>
						<li><%= link_to "Course of member", admins_courses_path %></li>
						<li><%= link_to "Orders", admins_courses_path %></li>
					</ul>
			</div>
	</div>
	
</header>