<section class="account-page-area section-gap-equal">
  <div class="container position-relative">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6">
        <div class="login-form-box">
          <h3 class="title">Change your password</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password do %> New password 
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <span class="text-danger">*</span>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
              <span class="text-danger"><%= resource.errors[:password].first %></span>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" do %> Password confirmation <span class="text-danger">*</span><% end %>
              <%= f.password_field :password_confirmation%>
              <span class="text-danger"><%= resource.errors[:password_confirmation].first %></span>
            </div>

            <div class="form-group">
              <%= button_tag class:"edu-btn btn-medium" do %>
                Change password <i class="icon-4"></i>
              <% end %>
            </div>
          <% end %>
          <div class="form-group chekbox-area">
            <%= link_to "Login", new_user_session_path, class: "password-reset" %>
          </div>
        </div>
      </div>
    </div>
      
    <ul class="shape-group">
      <li class="shape-1 scene"><%= image_tag ("about/shape-07.png"), alt: "Hara Academy" %></li>
      <li class="shape-2 scene"><%= image_tag ("about/shape-13.png"), alt: "Hara Academy" %></li>
      <li class="shape-3 scene"><%= image_tag ("counterup/shape-02.png"), alt: "Hara Academy" %></li>
    </ul>
    
  </div>
</section>
