<section class="account-page-area section-gap-equal">
  <div class="container position-relative">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6">
        <div class="login-form-box shadow-sm rounded">
          <h3 class="title">Reset Password</h3>
          <span class="text-danger"><%= alert %></span>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-group">
              <%= f.label :email do %> Email <span class="text-danger">*</span><% end %>
              <%= f.email_field :email, autofocus: true, placeholder: 'Enter your Email and instructions will be sent to you!' %>
              <span class="text-danger"><%= resource.errors[:email].first %></span>
            </div>
            <div class="form-group">
              <%= button_tag class:"edu-btn btn-medium" do %>
                Send reset password <i class="icon-4"></i>
              <% end %>
            </div>
          <% end %>
          <div class="form-group chekbox-area">
            <%= link_to "Login", new_user_session_path, class: "password-reset" %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>