<section class="account-page-area section-gap-equal">
  <div class="container position-relative">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-5">
        <div class="login-form-box registration-form">
          <h3 class="title">Registration</h3>
          <p>Already have an account? <%= render "users/shared/links" %></p>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :first_name do %> First name <span class="text-danger">*</span><% end %>
                <%= f.text_field :first_name, autofocus: true, placeholder: "Input your first name" %>
                <span class="text-danger"><%= resource.errors[:first_name].first %></span>
              </div>
              <div class="form-group">
                <%= f.label :last_name do %> Last name <span class="text-danger">*</span><% end %>
                <%= f.text_field :last_name, placeholder: "Input your last name" %>
                <span class="text-danger"><%= resource.errors[:last_name].first %></span>
              </div>
              <div class="form-group">
                <%= f.label :phone_number do %> Phone number <span class="text-danger">*</span><% end %>
                <%= f.text_field :phone_number, placeholder: "Input your phone number" %>
                <span class="text-danger"><%= resource.errors[:phone_number].first %></span>
              </div>

              <div class="form-group">
                <%= f.label :email do %> Email <span class="text-danger">*</span><% end %>
                <%= f.email_field :email, placeholder: "Input your email" %>
                <span class="text-danger"><%= resource.errors[:email].first %></span>
              </div>
              <div class="form-group">
                <%= f.label :password do %> Password
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %> <span class="text-danger">*</span> <% end %>
                <%= f.password_field :password, autocomplete: "new-password" %>
                <span class="text-danger"><%= resource.errors[:password].first %></span>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation do %> Password confirmation <span class="text-danger">*</span><% end %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                <small style="color: #dc3545"><%= resource.errors[:password_confirmation].first %></small>
              </div>

              <div class="form-group">
                <%= button_tag class:"edu-btn btn-medium" do %>
                  Create Account <i class="icon-4"></i>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <ul class="shape-group">
      <li class="shape-1 scene"><%= image_tag ("about/shape-07.png"), alt: "Hara Academy" %></li>
      <li class="shape-2 scene"><%= image_tag ("about/shape-13.png"), alt: "Hara Academy" %></li>
      <li class="shape-3 scene"><%= image_tag ("counterup/shape-02.png"), alt: "Hara Academy" %></li>
    </ul>
  </div>
</section>
